.cartWidget { position: relative; display: flex; align-items: center; }
.cartWidget .notification { font-size: 14px; font-weight: 600; color: #000; background: #FFF; border-radius: 50%; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; margin-left: 10px; }
.cartWidget a img { width: 25px; }
