.cartWidget { position: relative; display: flex; align-items: center; }
.cartWidget .notification { font-size: 16px; font-weight: 600; color: #FFF; margin-left: 10px; }
.cartWidget a img { width: 25px; }
