.hero{ position: relative; height: 100vh; }
.hero .wrapper{ height: 100%; }
.hero .video-container{ max-height: 80%; overflow: hidden; position: absolute; top: 60px; width: 100%; z-index: -1; }
.hero .video-container .video-hero{ width: 100%; opacity: .5; margin-top: -4%; }
.hero .hero-logo{ max-width: 64%; position: absolute; bottom: 0; }

